* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #333;
}

div.main {
  width: 50rem;
  height: 26rem;
  position: relative;
  display: flex;
  border: 1px solid black;
  font-size: 0;
  background: url("krytan1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0.25rem 0.25rem 0.5rem #000;
}

div.main > div {
  width: 4px;
  height: 26rem;
  order: 1;
  box-sizing: border-box;
  border-left: 0px solid black;
  position: relative;
  transition: order 99999s steps(1, jump-end), border-left 99999s steps(1, jump-end);
}

div.main > div:first-of-type {
  order: 2;
  position: static;
  max-width: 0;
  border-left:0 none; /*we don't want this element to be hoverable, even if through a 1px border*/
  transition:none;
  clip-path: polygon(0 0, 50rem 0, 50rem 26rem, 0 26rem);
}

div.main > div:first-of-type::before {
  content: "";
  position: absolute;
  height: 26rem;
  width: 50rem;
  z-index: -1;
  background: url("krytan1.jpg");
  filter: hue-rotate(170deg);
  right: 0;
}

/* grab cursor when holding mouse button on image */
div.main:active {
  cursor: grab;
}

div.main:active > div {
  transition:none;
}

div.main:active > div:hover {
  order: 3;
  border-left:1px solid black;
}

div.main:active > div:hover ~ div {
  order: 3;
}
/* Just making them headers look fancy */

h1 {
  font-family: "MonteCarlo", serif;
}

h2 {
  font: 200 1em "MontSerrat", sans-serif;
}
